<div class="container">
  <div class="col-6 p-2">
    <h2>Stupid Coaching</h2>

    <div class="alert alert-light" role="alert">
      <p class="text-break"><%= @answer %></p>
      <p class="fst-italic">--You</p>
    </div>

    <div class="alert alert-warning" role="alert">
      <p><strong><%= @bot %></strong></p>
      <p class="fst-italic">--Your coach</p>
    </div>

    <%= link_to "Ask a new question", ask_path %>
  </div>
</div>
